* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap-reverse;
}

.columnContainer {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 15px;
}

.rowspeech {
  padding-left: 20px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.rowSubtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  margin-left: 15px;
}
.section {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
}
.rowTotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 15px;
}

.bisection {
  display: flex;
  justify-content: space-between;
}

.section:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.spanned {
  font-size: 20px;
  margin-right: 20px;
}

.minititle {
  font-size: 14px;
}

.rowsubtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.content {
  width: 70%;
  background-color: #e9e9e9;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 900px;
}

.divider {
  border-top: 1px solid rgba(116, 116, 121, 0.6);
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 5px;
}

.wrapper {
  width: 25%;
  text-align: center;
  padding-top: 20px;
  background-color: #c8e6c9;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 20px;
}

.inputTime {
  width: 70px;
  margin: 10px;
  display: block;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  font-size: 0.9em;
  transition: box-shadow var(--transitionDuration);
  text-align: right;
  padding: 4px;
  border: 0.05rem solid rgba(116, 116, 121, 0.6);
  background-color: #fafafa;
  border-radius: 0.3em;
}
.inputTimeTopic {
  width: 50px;
  margin: 10px;
  display: block;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  font-size: 0.9em;
  transition: box-shadow var(--transitionDuration);
  text-align: right;
  padding: 4px;
  border: 0.05rem solid rgba(116, 116, 121, 0.6);
  background-color: #fafafa;
  border-radius: 0.3em;
}

.inputName {
  width: 250px;
  margin: 10px;
  display: block;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  transition: box-shadow var(--transitionDuration);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 0.08rem solid rgba(19, 19, 21, 0.6);
  background-color: #fafafa;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  color: #868686;
}

.maintitle {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2em;
  color: #42a5f5;
  padding: 10px;
}

.minititlegreen {
  font-size: 14px;
  color: #71a144;
  padding: 10px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.4em;
}

.watchspan {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.8em;
  margin: 20px 50px 20px 0px;
}

#minutes,
#seconds,
#tens {
  font-size: 2em;
}

button {
  background: #42a5f5;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 10px;
  width: 120px;
  margin: 10px;
  outline: none;
  border-radius: 0.5rem;
}
button:hover {
  background: #90cef5;
  border: solid 1px #fff;
  color: #fff;
}

.semaphoreNormal {
  border-radius: 200px;
  border: 0px solid rgb(0, 0, 0);
  background-color: rgb(149, 160, 149);
  width: 50px;
  height: 50px;
}

.semaphoreGreen {
  border-radius: 200px;
  border: 0px solid rgb(0, 0, 0);
  background-color: rgb(21, 166, 26);
  width: 50px;
  height: 50px;
}

.semaphoreYellow {
  border-radius: 200px;
  border: 0px solid rgb(0, 0, 0);
  background-color: rgb(221, 173, 42);
  width: 50px;
  height: 50px;
}

.semaphoreRed {
  border-radius: 200px;
  border: 0px solid rgb(0, 0, 0);
  background-color: rgb(246, 34, 27);
  width: 50px;
  height: 50px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus:-moz-placeholder {
  opacity: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8em;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
  font-size: 0.8em;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
  font-size: 0.8em;
}

:root {
  --color__accent: #6200ee;

  --field__background: #f5f5f5;
  --field__background--hover: #e9e9e9;
  --input__border: rgba(0, 0, 0, 0.42);
  --label__color: #222;

  --font__size: 16px;
  --font__family: Roboto, Arial, sans-serif;
}

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.group {
  position: relative;
  margin: 10px 0;
}

.columngroup {
  margin-left: 20px;
  width: 50%;
  display: flex;
  align-items: center;
}

.form-input {
  background: none;
  font-size: 14px;
  padding: 10px 10px 5px 5px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 0.08rem solid rgba(19, 19, 21, 0.6);
  width: 250px;
  margin: 10px 0;
}

.form-input:focus {
  outline: none;
}

.inputTimeTopic:focus {
  outline: none;
}

.form-input:focus ~ .form-input-label {
  top: 2px;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.form-input-label {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  display: block;
  left: 7px;
  top: 20px;
  transition: 300ms ease all;
  color: gray;
}
.form-input-label.shrink {
  top: 2px;
  font-size: 12px;
  color: black;
}
